@using E_SportGamingScore.Core.ViewModels.Matches;
@model IEnumerable<AllMatchesFor24H>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Bet Name</th>
            <th scope="col">Match Type</th>
            <th scope="col">Match Name</th>
            <th scope="col">Value</th>
            <th scope="col">SpecialBetValue</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a class="btn" btn asp-action="GetById" asp-controller="Match" asp-route-matchId="@item.MatchId">@item.MatchName</a></td>
                @foreach (var bet in item.Bets)
                {
                    <th scope="row">@bet.BetName</th>
                    <td>@item.MatchType</td>

                    @foreach (var odd in bet.Odds)
                    {
                        <td>
                            @foreach (var value in bet.Odds)
                            {
                                <p>@value.OddValue</p>
                            }
                        </td>
                        <td>
                            @foreach (var spec in bet.Odds)
                            {
                                <p>@spec.SpecialBetValue</p>
                            }
                        </td>
                       

                    }
                }
            </tr>
            @if (item.IsBerAlive == false)
            {
            <td>No</td>

            }
            @if (item.IsBerAlive == true)
            {
            <td>Yes</td>

            }
        }

    </tbody>
</table>