@using E_SportGamingScore.Core.ViewModels.Matches;
@model GetMatchById




<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="@Model.Bets.Count + 1">@Model.MatchName</td>
            <td>@Model.StartDate</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var bet in Model.Bets)
        {
            <tr>
                <td colspan="4">@bet.BetName</td>
            </tr>
            @foreach (var odd in bet.Odds)
            {
                <tr>
                    <td></td>
                    <td>@odd.OddName</td>
                    <td>@odd.OddValue</td>
                    <td>@odd.SpecialBetValue</td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>





