@using E_SportGamingScore.Core.ViewModels.Matches;
@model GetMatchById





<form id="oddsForm" method="post" action="/Match/CheckFroChanges">
    <th scope="row">
        @Model.MatchName
    </th>
    <input type="hidden" name="MatchId" value="@Model.MatchId" /> <!-- Add hidden input field for MatchId -->
    @for (var i = 0; i < Model.Ods.Count; i++)
    {
        var item2 = Model.Ods[i];
        <td>@item2.BetName</td>
        <td>@item2.OddName</td>
        <td>
            <input type="hidden" name="Ods.Index" value="@i" />
            <input type="hidden" name="Ods[@i].BetName" value="@item2.BetName" />
            <input type="hidden" name="Ods[@i].OddName" value="@item2.OddName" />
            <input type="hidden" name="Ods[@i].OldOddValue" value="@item2.OddValue" />
            <input type="text" name="Ods[@i].OddValue" value="@item2.OddValue" />
        </td>
    }
    <td>
        <button type="submit" class="btn">Save</button>
    </td>
</form>



