@using E_SportGamingScore.Core.ViewModels.Matches;
@model GetMatchById




<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th scope="col">Match</th>
                <th scope="col">Bet</th>
                <th scope="col">Odds</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in Model.BetName)
                {
                    <th scope="row">@Model.MatchName</th>
                    <td>@item.BetName</td>

                    @foreach (var item2 in Model.Ods)
                    {

                        <td>@item2.OddName</td>
                        <td>@item2.OddValue</td>
                    }
                }
            </tr>
        </tbody>
    </table>

</div>

<!DOCTYPE html>
<html>
<head>
    <title>Vertical Table</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border: 1px solid black;
        }

        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <table>
        <tr>
        @foreach (var item in Model.BetName)
        {
            <th scope="row">@Model.MatchName</th>
            <td>@item.BetName</td>

            @foreach (var item2 in Model.Ods)
            {
                <td>@item2.OddName</td>
                <td>@item2.OddValue</td>
            }
        }
        </tr>
        
    </table>
</body>
</html>
